[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[project]
name = "routellm"
version = "0.2.0"
description = "A framework for serving and evaluating large language model routers."
readme = "README.md"
classifiers = ["Programming Language :: Python :: 3"]
dependencies = [
	'importlib-metadata; python_version<"3.10"',
	'pyyaml',
	'pydantic',
	"numpy<2",
	'pandas',
	'torch',
	'scikit-learn',
	'tqdm',
	'openai',
	'transformers',
	'datasets',
	'litellm'
]

[project.optional-dependencies]
serve = ["fastapi", "shortuuid", "uvicorn"]
eval = ["matplotlib", "pandarallel", "sglang", 'tiktoken']
dev = ["black", "isort", "pre-commit"]

[project.urls]
"Homepage" = "https://github.com/lm-sys/RouteLLM"
"Bug Tracker" = "https://github.com/lm-sys/RouteLLM/issues"

[tool.isort]
profile = "black"

[tool.setuptools.packages.find]
exclude = ["assets*", "benchmarks*"]

[tool.wheel]
exclude = ["assets*", "benchmarks*"]
